/* case 1 */
.emotionalityCircle {
    width: 126px;
    height: 126px;
    top: 0px;
    left: 100px;
    background-color: #FFD700;
}

.extraversionCircle {
    width: 66px;
    height: 66px;
    top: 214px;
    left: 160px;
    background-color: #FF6F61;
    font-size: 10px;
}

.agreeablenessCircle {
    width: 88px;
    height: 88px;
    top: 132px;
    left: 100px;
    background-color: #3EB489;
}

.honestyCircle {
    width: 66px;
    height: 66px;
    top: 30px;
    left: 235px;
    background-color: #DEDEDE;
    font-size: 10px;
}

.conscientiousnessCircle {
    width: 126px;
    height: 126px;
    top: 110px;
    left: 200px;
    background-color: #00BFFF;
}

.openCircle {
    width: 66px;
    height: 66px;
    top: 90px;
    left: 40px;
    background-color: #AA00FF;
    font-size: 10px;
}

/* case 2 */
.emotionalityCircle {
    width: 88px;
    height: 88px;
    top: 260px;
    left: 100px;
    background-color: #FFD700;
}

.emotionalityCircle {
    width: 88px;
    height: 88px;
    top: 210px;
    left: 30px;
    background-color: #FFD700;
}

.extraversionCircle {
    width: 126px;
    height: 126px;
    top: 75px;
    left: 30px;
    background-color: #FF6F61;
}

.agreeablenessCircle {
    width: 126px;
    height: 126px;
    top: 45px;
    left: 160px;
    background-color: #3EB489;
}

.honestyCircle {
    width: 66px;
    height: 66px;
    top: 10px;
    left: 105px;
    background-color: #DEDEDE;
    font-size: 10px;
}

.conscientiousnessCircle {
    width: 66px;
    height: 66px;
    top: 170px;
    left: 245px;
    background-color: #00BFFF;
    font-size: 10px;
}

.openCircle {
    width: 126px;
    height: 126px;
    top: 180px;
    left: 120px;
    background-color: #AA00FF;
}

/* case 3 */
.emotionalityCircle {
    width: 66px;
    height: 66px;
    top: 30px;
    left: 235px;
    background-color: #FFD700;
    font-size: 10px;
}

.extraversionCircle {
    width: 88px;
    height: 88px;
    top: 132px;
    left: 100px;
    background-color: #FF6F61;
}

.agreeablenessCircle {
    width: 66px;
    height: 66px;
    top: 214px;
    left: 160px;
    background-color: #3EB489;
    font-size: 10px;
}

.honestyCircle {
    width: 126px;
    height: 126px;
    top: 0px;
    left: 100px;
    background-color: #DEDEDE;
}

.conscientiousnessCircle {
    width: 66px;
    height: 66px;
    top: 90px;
    left: 40px;
    background-color: #00BFFF;
    font-size: 10px;
}

.openCircle {
    width: 126px;
    height: 126px;
    top: 110px;
    left: 200px;
    background-color: #AA00FF;
    font-size: 10px;
}

/* case 4 */
.emotionalityCircle {
    width: 66px;
    height: 66px;
    top: 0px;
    left: 225px;
    background-color: #FFD700;
    font-size: 10px;
}

.extraversionCircle {
    width: 66px;
    height: 66px;
    top: 79px;
    left: 35px;
    background-color: #FF6F61;
    font-size: 10px;
}

.agreeablenessCircle {
    width: 88px;
    height: 88px;
    top: 72px;
    left: 235px;
    background-color: #3EB489;
}

.honestyCircle {
    width: 88px;
    height: 88px;
    top: 150px;
    left: 60px;
    background-color: #DEDEDE;
    font-size: 10px;
}

.conscientiousnessCircle {
    width: 126px;
    height: 126px;
    top: 25px;
    left: 105px;
    background-color: #00BFFF;
}

.openCircle {
    width: 126px;
    height: 126px;
    top: 150px;
    left: 160px;
    background-color: #AA00FF;
}

/* case 5 */
.emotionalityCircle {
    width: 88px;
    height: 88px;
    top: 72px;
    left: 235px;
    background-color: #FFD700;
}

.extraversionCircle {
    width: 66px;
    height: 66px;
    top: 0px;
    left: 225px;
    background-color: #FF6F61;
    font-size: 10px;
}

.agreeablenessCircle {
    width: 126px;
    height: 126px;
    top: 150px;
    left: 160px;
    background-color: #3EB489;
}

.honestyCircle {
    width: 88px;
    height: 88px;
    top: 150px;
    left: 60px;
    background-color: #DEDEDE;
    font-size: 10px;
}

.conscientiousnessCircle {
    width: 126px;
    height: 126px;
    top: 25px;
    left: 105px;
    background-color: #00BFFF;
}

.openCircle {
    width: 66px;
    height: 66px;
    top: 79px;
    left: 35px;
    background-color: #AA00FF;
    font-size: 10px;
}